# Задание 1 (1 балл)

Если разбить поисковые запросы пользователей в РФ по тематикам, то можно выделить несколько кластеров, запросы в которых имеют похожий смысл или тему. В файле `searches.csv` - 6 временных рядов, соответствующих кластерам:

    1. Коронавирус
    2. Отели за границей
    3. Школьные задания
    4. Подарки и поздравления
    5. Спортивные события
    6. Музыка

Определите, какой временной ряд относится к какому кластеру.

Дайте ответ для всех кластеров в формате "кластерX - `<название>`, потому что ... (ваши наблюдения и выводы на основе временного ряда)".

Ответы без обоснования не будут приняты.

In [ ]:
import pandas as pd
from prophet import Prophet

searches_df = pd.read_csv('searches.csv', parse_dates=['ds'])
searches_df.head()

          ds  кластер1  кластер2  кластер3  кластер4  кластер5  кластер6
0 2019-01-01    299036   1493286  11268577     50492     18596    599268
1 2019-01-02    228190    818971   8629779     57169     25282    952299
2 2019-01-03    297875    734393   7828308     61336     25863   1176552
3 2019-01-04    211296    742071   7542338     64927     27730   1304149
4 2019-01-05    270611    828797   7618576     62939     27709   1419539

# Задание 2 (4 балла)


## Задача

Вам дана небольшая выборка поисковых запросов, связанных с поиском работм. Запросы разбиты на подкатегории 1, 2, 3, 4, 5, 6, 7 и 8.
Вам нужно сделать подневный прогноз **суммы** поисковых запросов с учётом трендов, сезонности, праздников и аномалий. При этом нужно продемонстрировать качество модели.

Представьте, что сегодня 1 июля 2021 года, и вам нужно спрогнозировать количество запросов до конца 2021 года.

Прогноз можно строить в Excel, Jupyter Notebook или другими знакомыми инструментами. Главное, чтобы расчёт мог воспроизвести другой человек.

## Данные



Для того, чтобы не только сделать прогноз, но и проверить качество модели, данные разбиты на три файла:

`train.csv` - обучающая выборка с 2017-01-01 по 2020-12-31

`test.csv` - тестовая выборка с 2021-01-01 по 2021-06-30

`val.csv` - валидационная выборка с 2021-07-01 по 2021-12-31. **Для чистоты эксперимента не смотрите его пока что, это данные о будущем, которое хотим предсказать.**

Их назначение будет объяснено позже.

## Оценка качества

Для оценки качества прогнозных моделей проведём эксперимент: скроем от модели часть известных нам данных, построим прогноз, а затем проверим, насколько хорошо он попадает в факт.

Для оценки качества моделей будем использовать метрику [MAPE](https://en.wikipedia.org/wiki/Mean_absolute_percentage_error) по дням: $\text{MAPE} = 100\% \cdot \dfrac{1}{n}\sum_{i=1}^n  \left|\dfrac{факт_i - прогноз_i}{факт_i}\right| $

Например, если нужно рассчитать MAPE за первые 6 месяцев 2021 года (181 день), получим формулу $\text{MAPE} = 100\% \cdot \dfrac{1}{181}\sum_{i=1}^{181}  \left|\dfrac{факт_i - прогноз_i}{факт_i}\right| $

In [ ]:
# Пример функции MAPE, которая принимает на вход два списка с значениями
def mape(fact_list, forecast_list):
    errors = []

    for f, p in zip(fact_list, forecast_list):
        e = abs((f - p) / f)
        errors.append(e)

    return 100.0 * sum(errors) / len(errors)

mape([1, 2, 3, 4], [0.5, 1.5, 3, 4.5])

21.875

## 2.1. Базовый прогноз (1 балл)
1. Откройте обучающую выборку из файла `train.csv` в Excel или загрузите в pandas DataFrame. Модели должны обучаться только на ней
2. Постройте график временного ряда суммы поисковых запросов
3. Постройте прогноз этого ряда до конца 2021 года любым удобным вам способом (например, взяв код или формулу из лекции) **без** очистки данных, подбора параметров модели, учёта праздников и пр.
4. Прочитайте тестовые данные из файла `test.csv` и посчитайте ошибку прогноза (MAPE) на данных за первое полугодие 2021 года. Назовём это значение ошибки `mape1`

In [ ]:
train_df = pd.read_csv('train.csv', parse_dates=['ds'])
train_df.head()

          ds      1      2      3      4      5   6     7      8
0 2017-01-01   8061  10075  20735   8641   3414  39  2343  11229
1 2017-01-02  13243  15663  33827  18966   5900  61  4213  14216
2 2017-01-03  16230  18959  38730  24648   7560  65  5874  17375
3 2017-01-04  18671  21144  42381  29907   9394  69  8042  19965
4 2017-01-05  20471  23040  43880  32436  10076  72  8731  20599

In [ ]:
# временной ряд суммы всех поисковых запросов (факт)
train_sum_df =

# постройте график суммарного временного ряда

In [ ]:
# постройте прогноз этого суммарного ряда
forecast_df_1 =

In [ ]:
test_df = pd.read_csv('test.csv', parse_dates=['ds'])
test_df.head()

          ds      1      2      3      4      5   6      7  8
0 2021-01-01  15721  26737  22323   6795   4608  54   5080  0
1 2021-01-02  22581  42605  33369  14446   7526  77   7141  0
2 2021-01-03  28147  42337  38091  18697   9639  89   8755  0
3 2021-01-04  30981  45813  39446  23713  11766  92  12895  0
4 2021-01-05  33250  45727  41607  25525  12616  96  13744  0

In [ ]:
# сумма всех поисков по дням из тестовой выборки
test_sum_df =

# посчитайте ошибку

mape1 =

## 2.2. Декомпозиция (1 балл)

Давайте проверим, получится ли модель точнее, если мы спрогнозируем сначала поиски по категориям, а затем суммируем.

5. Посмотрите категории поисковых запросов и определите, стоит ли все временные ряды прогнозировать независимо, или часть из них стоит сгруппировать в более крупные сущности (например, из 8 временных рядов можно получить 4). Почему?
6. Постройте прогнозы по исходным или сгруппированным временным рядам (так же **без** предобработки данных), посчитайте MAPE для суммы всех поисков. Назовём её `mape2`

Задание считается выполненным, если у вас есть прогноз, есть **минимум 2 группы** запросов и вы **объяснили**, почему объединили данные именно так (если объединяли) или почему не стали объединять.

In [ ]:
# сгруппируйте категории запросов, если нужно. Почему именно так?
train_df =

In [ ]:
# постройте прогноз по категориям
forecast_df_2 =

In [ ]:
# посчитайте ошибку по данным из test_sum_df

mape2 =

## 2.3. Улучшение модели (1 балл)

7. Для каждой группы из предыдущего задания постройте графики с фактом (train + test) и прогнозом, визуально оцените качество прогноза
8. Найдите недостатки, очистите временные ряды от аномалий или обновите параметры модели. Учтите праздники, если позволяет модель. Увеличить точность может использование не-статистического метода для какого-либо из рядов
9. Сделайте прогноз и замерьте качество на суммарных поисках, назовите ошибку `mape3`

Задание считается выполненным, если вы получили `mape3 < mape2` и `mape3 < mape1`, а прогноз №3 на весь 2021 год выглядит визуально адекватным

In [ ]:
# чтобы сравнить каждую группу с тестовой выборкой, нужно так же сгруппировать данные в ней
test_df =

# факт для графиков
train_and_test_df = pd.concat([test_df, train_df])

In [ ]:
# постройте прогноз по очищенным категориям запросов

forecast_df_3 =

In [ ]:
# посчитайте ошибку по данным из test_sum_df

mape3 =

## 2.4 Валидация модели (1 балл)

Вы обучали модель на обучающей выборке (train) и корректировали модель, основываясь на ошибке на тестовой выборке (test). Если при этом не оценивать прогноз визуально, модель может "[переобучиться](https://neerc.ifmo.ru/wiki/index.php?title=Переобучение)". В этом случае она будет хорошо предсказывать первое полугодие 2021, а другие периоды - плохо.

Давайте проверим, смогла ли модель понять общие зависимости в данных или переобучилась. Для этого нужно посчитать ошибку на `val.csv` (2021-06-01 - 2021-12-31) для всех моделей.

Задание считается выполненным, если корректно посчитана ошибка на валидационной выборке и построен итоговый график с фактом и прогнозами.

In [ ]:
val_df = pd.read_csv('val.csv', parse_dates=['ds'])
val_df.head()

In [ ]:
# сумма всех рядов
val_sum_df =

In [ ]:
# посчитайте ошибку на второе полугодие 2021 года для всех прогнозов

val_error_1 =            # изначальный прогноз суммы
val_error_2 =            # прогноз, разбитый на подкатегории
val_error_3 =            # прогноз, разбитый на подкатегории и очищенный от аномалий

Обычно ошибка на валидационной выборке больше, чем на тестовой, это нормально. Однако, если она **гораздо** (например, в разы) больше ошибки на тестовой выборке, модель переобучилась.

Если ошибка получилась большой, это не критично: у нас не было цели создать идеальный прогноз. Основными критериями при оценивании домашнего задания будут методологически верный подход к построению и визуальная адекватность полученного прогноза

In [ ]:
# постройте при приложите график суммы поисков с фактом (train + test + val) и всеми прогнозами